{
  "extends": ["standard", "react"],
  "rules": {
    "react/prop-types": 0,
    "prefer-reflect": 0,
    "space-before-function-paren": 0,
    "indent": 0
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "16.0"
    }
  }
}
